extends ../../layout/layout

block variables
  -
    const pageName = 'todo'
    const pageTitle = 'todo'

block content
  main.todos(data-barba='container' data-barba-namespace=pageName)
    +todo
    